body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

main {
  display: flex;
  width: 90%;
  margin: 2.5rem auto;
  gap: 2rem;
  flex: 1; /* Allow the main content area to grow */
}

#users-container {
  display: flex;
  flex-direction: column; /* Arrange items vertically in the sidebar */
  align-items: flex-start;
  max-width: 200px; /* Set a max-width for the sidebar */
  position: sticky; /* Make the sidebar stick to the top */
  top: 0; /* Position it at the top */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

#users {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Stack list items vertically */
  gap: 0.5rem;
}

#fallback {
  font-weight: bold;
  font-size: 1.15rem;
  margin: 0;
  text-align: center;
}

@media(min-width:768px) {
  main {
    margin: 4rem auto;
    flex-direction: row; /* Switch to row layout for larger screens */
  }

  #users-container {
    flex: 1; /* Allow the sidebar to grow */
    max-width: 250px; /* Adjust max-width if needed */
    position: static; /* Reset position for larger screens */
  }

  #users {
    flex-direction: column; /* Ensure vertical layout */
  }

  #fallback {
    font-size: 1.5rem;
    text-align: left;
  }
}
